<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0.0" android:installLocation="auto" android:compileSdkVersion="34" android:compileSdkVersionCodename="14" package="com.standblock.cry" platformBuildVersionCode="34" platformBuildVersionName="14">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="34"/>
    <supports-screens android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true"/>
    <uses-feature android:glEsVersion="30000" android:required="true"/>
    <application android:label="@string/godot_project_name_string" android:icon="@mipmap/icon" android:debuggable="true" android:allowBackup="false" android:isGame="true" android:extractNativeLibs="true" android:appCategory="0" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:hasFragileUserData="false" android:requestLegacyExternalStorage="false">
        <meta-data android:name="org.godotengine.editor.version" android:value="4.2.2.stable"/>
        <activity android:theme="@style/GodotAppSplashTheme" android:label="@string/godot_project_name_string" android:name="com.godot.game.GodotApp" android:exported="true" android:excludeFromRecents="false" android:launchMode="4" android:screenOrientation="landscape" android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="org.godotengine.library.version" android:value="4.2.2.stable"/>
        <service android:name="org.godotengine.godot.GodotDownloaderService"/>
        <activity android:theme="@style/Theme.Translucent.NoTitleBar" android:name="org.godotengine.godot.utils.ProcessPhoenix" android:exported="false" android:process=":phoenix"/>
        <provider android:name="androidx.core.content.FileProvider" android:exported="false" android:authorities="com.standblock.cry.fileprovider" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/godot_provider_paths"/>
        </provider>
        <provider android:name="androidx.startup.InitializationProvider" android:exported="false" android:authorities="com.standblock.cry.fileprovider">
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <receiver android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP" android:enabled="true" android:exported="true" android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
